<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<!--TODO add a nav to all of the pages to get around without having to type everything-->
<body>
<div>
    <form method="post" action="/user">
        <h1>Please log in so we can pamper you!</h1>
        <p>Username: </p>
        <input type="text">
        <p>Email: </p>
        <input type="text"  >
        <p>Password: </p>
        <input type="password"  >
        <p>Validate password: </p>
        <input type="password"  >
        <br><br><input type="submit" value="Let's Go!!!!">
    </form>
</div>
</body>
</html>